#countries {
	fill: white;
}
#lakes, #oceans {
	fill: #99f;
	stroke-width: 0.3px;
}
#rivers {
	fill: none;
	stroke-width:2px;
	stroke:#99f;
}
#city {
	fill: #0f0f0f;
}
#city2-label {
	font-family: Open-Sans;
	font-size: 14pt;
}
#mygraticule {
	stroke-width: 0.3px;
}
#parks {
	fill: #efe;
	stroke: none;
}
#forests {
	fill: #8f8;
	stroke: none;
}
#state-parks {
	fill: #dfd;
	stroke: none;
}
#parks-label {
	font-family: Open-Sans;
	font-size: 14pt;
}
#trip {
	fill: none;
	stroke-width:10px;
	stroke:#f00;
}
#elevation {
	fill: none;
	stroke-width: 1px;
	stroke: #888;
}
#forest {
	fill: #f00;
}
