#countries, #states {
	stroke-width:0.3px;
	stroke:#888;
}
#lakes, #background, #oceans {
	fill: #ccf;
	stroke:none;
}
#rivers {
	fill: none;
	stroke-width:0.5px;
	stroke:#ccf;
}
#city {
	fill: #ccc;
	stroke: none;
}
#mygraticule {
	stroke-width: 0.3px;
}
#parks {
	fill: #cfc;
	stroke: none;
}
#trip, #trip2, #trip3, #trip4, #trip5, #trip6, #trip7 {
	fill: none;
	stroke-width:2px;
	stroke:#f00;
}
